.primera{
    color: white;
    padding-top: 10em;
    font-size: large;
    font-family: 'Anton', sans-serif;
    text-align: center;

}

.portada {
    background-image: url("https://media-edg.barcelona.cat/wp-content/uploads/2016/02/AZ8Q4518.jpg");
    background-size: 100%;
}
.top{
    margin-top: 10rem;
}
.centre{
    margin: 0 auto;
}
.centro{
    margin-top: 2rem;
    padding-left: 30em;
}
.navbar{
 background-color: black;
}
.fondo{
    background-image: url("https://tmb-toci.s3.eu-west-1.amazonaws.com/styles/galeria_slider/s3/s3fs-public/2017-10/REF_POBLENOU_IMG_6163.jpg?m2W7I1LVi3ebRgOjKE_SkSxwCu5GA_2X&itok=PqHTs60G%22");
    background-size: 100%;
    }
.colorfondo{
    background-color: white;
}
.container1 {
    font-family: "Arial Black", serif;
    background-color: #fff8cc;
    left: 40%;
    margin-top: 10%;
    text-align: center;
}
.fondoLmao {
    background-image: url("https://media-edg.barcelona.cat/wp-content/uploads/2016/02/AZ8Q4520.jpg");
    background-size: 110%;
}


.titulo {
    font-size: 30px;
    background-color: #ffe000;
}
.acti{
    background-image: url("https://media-edg.barcelona.cat/wp-content/uploads/2016/02/AZ8Q4520.jpg");
    background-size: 100%;
}

